<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	
</head>
<body>	

		<!----------------right------------------>
		<div class="right addnew">
			<h2>
				<a href="">ECSHOP管理中心</a>
				<span> - 商品列表</span>
				<img src="img/jnsy.png"/>
				<a href="">添加新商品</a>
			</h2>
			
			<div class="msg">
				<p class="classify">
					<span>通用信息</span>
					<span>详细描述</span>
					<span>其他信息</span>
					<span>商品属性</span>
					<span>商品相册</span>
					<span>关联商品</span>
					<span>配件</span>
					<span>关联文章</span>
				</p>
				<div class="details change">
					<textarea name="" rows="12" cols="100"></textarea>
					<p>
						<input type="button" value="确定" />
						<input type="button" value="重置" />
					</p>
				</div>
				<div class="info change">
					<p>
						<span>商品名称：</span>
						<input type="text" id="" value="" />
						<select name="">
							<option value="">字体样式</option>
						</select>
					</p>
					<p>
						<span>商品货号：</span>
						<input type="text" id="" value="" />
					</p>
					<p><span></span>如果您不输入商品货号，系统将自动生成一个唯一的货号。</p>
					<p>
						<span>商品分类：</span>
						<select name="">
							<option value="">请选择...</option>
						</select>
						<input type="button" value="添加分类" />
					</p>
					<p>
						<span>扩展分类：</span>
						<input type="button" value="添加" />
					</p>
					<p>
						<span>商品品牌：</span>
						<select name="">
							<option value="">请选择...</option>
						</select>
						<input type="button" value="添加品牌" />
					</p>
					<p>
						<span>本店售价：</span>
						<input type="text" id="" value="" />
						<input type="button" value="按市场价计算" />
					</p>
					<p>
						<span>会员价格：</span>
						注册用户<input type="text" id="" value="" />
						代销用户<input type="text" id="" value="" />
						vip<input type="text" id="" value="" />
					</p>
					<p><span></span>会员价格为-1时表示会员价格按会员等级折扣率计算，你也可以为每个等级指定一个固定价格</p>
					<p>
						<span>商品优惠价格：</span>
						[+]优惠数量<input type="text" id="" value="" />
						优惠价格<input type="text" id="" value="" />
					</p>
					<p><span></span>购买数量达到优惠数量时享受的优惠价格</p>
					<p>
						<span>市场售价：</span>
						<input type="text" id="" value="" />
						<input type="button" id="" value="取整数" />
					</p>
					<p>
						<span>虚拟销量：</span>
						<input type="text" id="" value="" />	
					</p>
					<p>
						<span>赠送消费积分数：</span>
						<input type="text" id="" value="" />	
					</p>
					<p><span></span>购买该商品时赠送消费积分数，-1表示按商品价格赠送</p>
					<p>
						<span>赠送等级积分数：</span>
						<input type="text" id="" value="" />	
					</p>
					<p><span></span>购买该商品时赠送等级积分数，-1表示按商品价格赠送</p>
					<p>
						<span>积分购买金额：</span>
						<input type="text" id="" value="" />	
					</p>
					<p><span></span>(此处需填写金额)购买该商品时最多可以使用积分的金额</p>
					<p>
						<span><input type="checkbox" />促销价：</span>
						<input type="text" id="" value="" />	
					</p>
					<p>
						<span>促销日期：</span>
						<input type="text" id="" value="" />	
						<input type="button" id="" value="选择" /> - 
						<input type="text" id="" value="" />	
						<input type="button" id="" value="选择" /> 
					</p>
					<p>
						<span>上传商品图片：</span>
						<input type="file" id="" value="浏览" />	
					</p>
					<p><span></span><input type="text" id="" value="商品图片外部URL" /></p>
					<p>
						<span>上传商品缩略图：</span>
						<input type="file" id="" value="浏览" />		
					</p>
					<p><span></span><input type="text" id="" value="商品缩略图外部URL" /></p>
					<p><span></span>
						<input type="checkbox" />
						自动生成商品缩略图
					</p>
					<p>
						<span></span>
						<input type="button" id="" value="确定" />
						<input type="button" id="" value="重置" />
					</p>
				</div>
			</div>
			
			<div class="footer">
				共执行 9 个查询，用时 0.024257 秒，Gzip 已禁用，内存占用 3.581 MB<br/>
				版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
		</div>
	</div>
</body>
	<script type="text/javascript" src="js/jquery.js" ></script>
	<script type="text/javascript" src="js/index.js" ></script>
</html>

     

