<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/index.css"/>
	
</head>
<body>	
		
		<!----------------right------------------>
		<div class="right products">
			<h2>
				<a href="">ECSHOP管理中心</a>
				<span> - 商品列表</span>
				<img src="img/jnsy.png"/>
				<a href="">添加新商品</a>
			</h2>
			
			<form action="">
				<img src="img/search.gif"/>
				<select name="">
					<option value="">所有分类</option>
				</select>
				<select name="">
					<option value="">所有品牌</option>
				</select>
				<select name="">
					<option value="">全部</option>
				</select>
				<select name="">
					<option value="">全部</option>
				</select>
				关键字：<input type="text" />
				<button>搜索</button>
			</form>
			
			<div class="list">
				<h3>
					<span>
						<input type="checkbox" />
						<a href="">编号</a>
						<img src="img/sort.gif"/>
					</span>
					<span>
						<a href="">商品名称</a>
					</span>
					<span>
						<a href="">货号</a>
					</span>
					<span>
						<a href="">价格</a>
					</span>
					<span>
						<a href="">上架 </a>
					</span>
					<span>
						<a href="">精品 </a>
					</span>
					<span>
						<a href="">新品 </a>
					</span>
					<span>
						<a href="">热销 </a>
					</span>
					<span>
						<a href="">推荐排序 </a>
					</span>
					<span>
						<a href="">库存 </a>
					</span>
					<span>
						<a href="">虚拟销量 </a>
					</span>
					<span>
						<a href="">操作 </a>
					</span>
				</h3>
				<!--<h3>
					<span>
						<input type="checkbox" />
					</span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</h3>-->
				<p class="empty">没有找到任何记录</p>
				<p class="pages">
					总计<span> 0 </span>个记录分为<span> 1 </span>页当前第<span> 1 </span>页，每页<input type="text" value="15" /> |
					<a href="">第一页</a><a href="">上一页</a><a href="">下一页</a><a href="">最末页</a>
					<select>
						<option value="">1</option>
					</select>
				</p>
			</div>
			<div class="options">
				<select name="">
					<option value="">请选择...</option>
				</select>
				<input type="button" value="确定"/>
			</div>
			<div class="footer">
				共执行 7 个查询，用时 0.023210 秒，Gzip 已禁用，内存占用 3.541 MB<br/>
				版权所有 © 2005-2018 上海商派软件有限公司，并保留所有权利。
			</div>
		</div>
</body>
	<script type="text/javascript" src="js/jquery.js" ></script>
	<script type="text/javascript" src="js/index.js" ></script>
</html>

     

